.navigation {
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    min-height: 100%;
    background: #fff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.open {
    width: 190px;
}

.navigation .menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #00000040;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.navigation .menu-toggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

.navigation.open .menu-toggle::before {
    transform: translateY(0) rotate(45deg);
}

.navigation .menu-toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
}

.navigation.open .menu-toggle::after {
    transform: translateY(0) rotate(-45deg);
    box-shadow: none;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 110%;
}

.navigation ul li {
    list-style: none;
    margin-top: .3rem;
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.5s;
}
.personas {
    max-width: 2px;
    font-size: 1.75em;
    margin: 7rem 0 0 .8rem;
    height: 8rem;
}
.navigation ul li .text.personas {
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    position: absolute;
    top: -7rem;
    left: 3.2rem;
    transition: 0.5s;
}
.navigation.open ul li .text.personas {
    opacity: 1;
    visibility: visible;
    font-size: 16px;
    position: absolute;
    top: -7.5rem;
    left: 3.2rem;
}
.navigation ul li .icon sub {
    position: relative;
    left: -.8rem;
    top: -2.2rem;
    font-size: .7rem;
}

.navigation.open ul li .icon sub {
    visibility: hidden;
}

.navigation ul li.active {
    transform: translateX(15px);
}

.navigation.open ul li.active {
    transform: translateX(10px);
}

.navigation.open ul li.salir {
    background: var(--btnDel);
    min-height: 55px;
    border-radius: 10px;
}

.navigation ul li a {
    max-width: 2px;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px;
    line-height: 60px;
    color: #222;
    border-radius: 10px;
    font-size: 1.75em;
    transition: 0.5s;
}
.navigation ul li.salir a .icon::before {
    opacity: 0.5;
}
.navigation ul li.salir a .icon::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--color);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}
.navigation ul li.salir a .icon {
    background: var(--btnDel);
}

.navigation ul li.salir a .icon sub {
    font-size: 1rem;
    padding-left: .5rem;
}

.navigation ul li a .icon sub {
    position: absolute;
    left: 0;
    top: .9rem;
    font-size: .7rem;
}

.navigation ul li a .icon sub.ACMD {
    position: absolute;
    padding-left: .5rem;
    left: 0;
    font-size: .7rem;
}

.navigation.open ul li a .icon sub {
    display: none;
}

.navigation ul li.active a .icon {
    color: #fff;
    /* background: var(--color); */
}
.navigation ul li.active a .icon sub {
    font-size: .6rem;
}

.navigation ul li a .icon::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--color);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}

.navigation ul li.active a .icon::before {
    opacity: 0.5;
}

.navigation ul li a .text {
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.navigation.open ul li a .text {
    opacity: 1;
    visibility: visible;
    /* position: absolute; */
}

.navigation ul li.active a .text {
    color: var(--color);
}

/*SUBMENU*/
ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    position: absolute;
    top: 50px;
    left: 5rem;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
  }

  .open ul li ul {
    position: absolute;
    left: 11.8rem;
  }
  
 ul li:hover ul {
    visibility: visible;
    border-radius: 10px;
    opacity: 100;
    top: 20px;
  }
  .active ul li:hover ul {
    visibility: visible;
    border-radius: 10px;
    opacity: 100;
  }
  
 
  
   ul li ul li a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
  }
  
   ul li ul li a:hover {
    color: #fff;
    transform: scale(1.2);
    transition: .2s;
    padding-left: 10px;
    font-size: 14px;
  }