.oscuro {
  background-color: #343c3bd4;
  color: #fff;
}

/* a.mod {

  border: 1px solid #f1eded;
  border-radius: 2rem;
  background-color: #1f1f1f;
  color: #f1eded;

  padding: 1%;
  cursor: pointer;

}
a.mod:hover {
  border: 1px solid #1f1f1f;
  background-color: #f1eded;
  color: #1f1f1f;
  cursor: pointer;
} */
a.mod:active {
  background-color: #808280;
}
.oscuro a.modi {
  /* border: 1px solid #1f1f1f; */
  border-radius: 2rem;
  /* background-color: #f1eded; */
  color: #f1eded;
  width: 8rem;
  text-align: center;
  padding: 1%;
  cursor: pointer;
}

.oscuro a.modi:hover {
  border: 1px solid #f1eded;
  /* background-color: #1f1f1f; */
  color: #f1eded;
  cursor: pointer;
}

.oscuro a.modi:active {
  background-color: #808280;}