/***
*
*   Botones SMIEP
*
***/
/***---Botones formularios---***/
/*Estilo para botón Submit*/
input[type="submit"] {
    display: block;
    margin: auto;
    font-family: "Montserrat-Bold";
    color: var(--bgColor);
    font-size: 18px;
    letter-spacing: 0.17rem;
    background-color: var(--submitBtn);
    border: transparent;
    border-radius: 10px;
    padding: var(--paddingBtn);
}

input[type="submit"]:hover

/*Hover Submit*/
    {
    letter-spacing: 0.2rem;
    background-color: var(--submitBtnHov);
    cursor: pointer;
    -webkit-box-shadow: 11px 13px 38px 3px var(--shadowColor);
    -moz-box-shadow: 11px 13px 38px 3px var(--shadowColor);
    box-shadow: 11px 13px 38px 3px var(--shadowColor);
    transition: .2s;
}

/***------***/
.contForm .btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contForm .btn span input {
    font-family: "Montserrat-Bold";
    color: var(--bgColor);
    font-size: 18px;
    letter-spacing: 0.17rem;
    background-color: var(--submitBtn);
    border: transparent;
    border-radius: 10px;
    padding: 0.7rem 2rem;
}

.contForm .btn span a input {
    background-color: var(--colorSMIEP);
}

/***---Estilos hover, after, before, active para botón---***/
.contForm .btn span input:hover {
    letter-spacing: 0.2rem;
    background-color: var(--submitBtnHov);
    cursor: pointer;
    -webkit-box-shadow: 11px 13px 38px 3px var(--shadowColor);
    -moz-box-shadow: 11px 13px 38px 3px var(--shadowColor);
    box-shadow: 11px 13px 38px 3px var(--shadowColor);
    transition: .2s;
}

.contForm .btn span a input:hover {
    background-color: var(--BtnHov);
    transition: .2s;
}

button.info {
    display: block;
    position: absolute;
    bottom: 0;
    height: 2rem;
    right: 0;
    background: red;
    width: 3rem;
}


/***BOTONES MOSTRAR***/
/****---Estilos a los botones agregar---***/
.btnMos a {
    position: relative;
    left: 65.5%;
    text-decoration: none;
    font-family: "Montserrat-Bold";
    color: var(--bgColor);
    padding: var(--paddingBtn);
    padding-left: 0;
    letter-spacing: 0.2rem;
    border-radius: var(--radiousBtn);
}

.btnMos .add {
    background-color: var(--submitBtn);
    margin-right: 2rem;
}

.btnMos .add:hover {
    background-color: var(--submitBtnHov);
    -webkit-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    -moz-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    transition: 0.5s;
}

.btnMos .add span {
    background-color: var(--submitBtnHovs);
    border-radius: 3px;
    padding: 0.7rem 0.5rem;
    margin-right: 2%;
}

/****---Estilos a los botones volver---***/
.btnMos .back {
    background-color: var(--backBtn);
}

.btnMos .back:hover {
    background-color: var(--backBtnHov);
    -webkit-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    -moz-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    transition: 0.5s;
}

.btnMos .back span {
    background-color: var(--backBtnHovs);
    border-radius: 3px;
    padding: 0.7rem 0.4rem;
    margin-right: 2%;
}


/***---Estilos para botón eliminar---***/
div .btnOpt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

div .btnOptDel {
    border-radius: var(--radiousBtn);
    height: 1rem;
    width: 2rem;
    background-color: var(--btnDel);
    text-align: center;
    padding: 0.6rem;
}

div .btnOptUpd {
    border-radius: var(--radiousBtn);
    height: 1rem;
    width: 2rem;
    background-color: var(--colorSMIEP);
    text-align: center;
    padding: 0.6rem;
}

div .btnOpt .btnOptDel:hover {
    background-color: var(--btnDelHov);
    -webkit-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    -moz-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    transition: 0.5s;
}

div .btnOpt .btnOptUpd:hover {
    background-color: var(--BtnHov);
    -webkit-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    -moz-box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    box-shadow: 6px 9px 10px 1px var(--shadowColorSoft);
    transition: 0.5s;
}

div .btnOpt a i {
    color: var(--bgColor);
    width: 100%;
    height: 100%;
}

/**
 * Estilos para botones de formulario por pasos
 */

 button {
    padding: var(--paddingBtn);
    display: block;
      margin: auto;
      font-family: "Montserrat-Bold";
      color: var(--bgColor);
      font-size: 18px;
      letter-spacing: 0.17rem;
      background-color: var(--colorSMIEP);
      border: transparent;
      border-radius: 10px;
  }
  .prev {
    background-color: var(--backBtn);
  }
  .prev:hover {
    background-color: var(--backBtnHov);
  }
  
  button:hover {
    letter-spacing: 0.2rem;
      background-color: var(--BtnHov);
      cursor: pointer;
      -webkit-box-shadow: 11px 13px 38px 3px var(--shadowColor);
      -moz-box-shadow: 11px 13px 38px 3px var(--shadowColor);
      box-shadow: 11px 13px 38px 3px var(--shadowColor);
      transition: .2s;
  }
  /*Estilo para botón Submit*/
  .submit {
    display: block;
    margin: auto;
    font-family: "Montserrat-Bold";
    color: var(--bgColor);
    font-size: 18px;
    letter-spacing: 0.17rem;
    background-color: var(--submitBtn);
    border: transparent;
    border-radius: 10px;
    padding: var(--paddingBtn);
  }
  
  .submit:hover
  
  /*Hover Submit*/
    {
    letter-spacing: 0.2rem;
    background-color: var(--submitBtnHov);
    cursor: pointer;
    -webkit-box-shadow: 11px 13px 38px 3px var(--shadowColor);
    -moz-box-shadow: 11px 13px 38px 3px var(--shadowColor);
    box-shadow: 11px 13px 38px 3px var(--shadowColor);
    transition: .2s;
  }
  
/*
  * RESPOSIVE BTN
  */

@media screen and (max-width: 1030px) {
    .btnMos a {
        position: inherit;
        margin-left: 20px;
    }
}


@media screen and (max-width: 470px) {
    .btnMos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    .btnMos a {
        width: 100%;
        margin: 0 20px 10px 20px;
    }
}