/*
*
* Estilos para formaularios
*
*/
/***---Form---***/
/***---Estilos en inputs y labels---***/
.userBox {
  position: relative;
  font-family: "Montserrat";
  margin-top: .5rem;
}
.userBox label:not(.lSel) {
  padding: 5px 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 40%;
  left: 25px;
  transform: translateY(-25%);
  text-transform: capitalize;
  pointer-events: none;
  font-size: 20px;
  transition: all 0.3s;
}
.userBox input {
  padding: 18px 20px 18px 15px;
  margin: 0.3rem;
  width: 300px;
  border: 3px solid #00000031;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.userBox label.lSel {
  font-family: 'Montserrat-Bold';
}
.userBox select {
  padding: 18px 15px 18px 15px;
  margin: 0.3rem;
  width: 300px;
  border: 3px solid #00000031;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.userBox input:focus + label,
.userBox input:not(:placeholder-shown) + label {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: #f0f0f0;
  top: 0;
  font-size: 16px;
}
/*Contenedor contenido*/
.initForm {
  margin: 2rem 5rem 0 5rem;
}
/***---Fieldset---***/
.contForm {
  /* background-color: #3399993d; */
  padding: 2rem;
  border-radius: 3rem 1rem;
  margin-top: 2rem;
  box-sizing: content-box;
  max-width: max-content;
}
.contForm form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contForm fieldset /*Formulario*/ {
  background-color: #f0f0f0;
  display: inline-block;
  -webkit-box-shadow: 11px 13px 38px 3px rgba(67, 89, 89, 1);
  -moz-box-shadow: 11px 13px 38px 3px #435959;
  box-shadow: 11px 13px 38px 3px rgba(67, 89, 89, 1);
  border: 2px solid #339999;
  border-radius: 10px 13px;
  padding: 2.5rem;
}
.contForm legend {
  border-radius: 10px 10px;
  background-color: #f0f0f0;
  font-family: "Montserrat-Bold";
  padding: 0.3rem;
  font-size: 24px;
}
.contForm fieldset.anuncio /*advertencia/Anuncio*/ {
  border: 2px solid #aa1132;
/*   margin-right: 15%;
 */  max-width: 40%;
}

.contForm {
  display: block;
  margin: auto;
}
.info {
  display: none;
  margin-right: 0.9rem;
  padding: 5px;
  background-color: crimson;
  border-radius: 50%;
  text-align: center;
  max-width: max-content;
  color: var(--bgColor);
  text-shadow: 1px 0px 14px #000000e8;
}
.info:hover {
  background-color: #aa1132;
  -webkit-box-shadow: 0 0 5px 2px var(--shadowColorSoft);
  -moz-box-shadow: 0 0 5px 2px var(--shadowColorSoft);
  box-shadow: 0 0 5px 2px var(--shadowColorSoft);
  cursor: pointer;
}
.info i {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}
.closer {
  display: none;
}
@media screen and (max-width: 1101px) {
  .contForm fieldset.anuncio {
    display: none;
    /* z-index: 5; */
  }
  .info {
    display: inline-block;
    position: absolute;
  }
  .closer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
  .closer i {
    position: absolute;
    font-size: 2rem;
    color: #aa1132;
    text-shadow: 1px 1px 5px var(--shadowColorSoft);
    cursor: pointer;
  }
  .closer i:hover {
    -webkit-text-stroke: 2px var(--shadowColorSoft);
  }
}
