@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.header__superior{

    display:flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: space-between;
    margin:20px
}
/*.logo{
    margin:0 2px 0 2px; 

}*/
.logo__imagen{
    width:13rem;
    height: 15rem;
}

.titulito{
    text-align: center;
    margin:auto;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5rem;
    font-size: 180%;
    color: #4e635a;
    
}

.nameEmp {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190%;
    color: #4e635a;
  }


@media screen and (max-width: 710px) {
    .header__superior{
        flex-wrap: wrap;
    }
    .logo{
       margin:auto;
    }
    .logo__imagen{
        width:13rem;
    }
    .title{
       display:none;
    }
    .nameEmp{
        font-size:90%
    }
    
  }

  @media screen and (max-width: 840px) {
    .header__superior{
        flex-wrap: wrap;
    }
    .logo{
       margin:auto;
    }
    .logo__imagen{
        width:13rem;
    }
    .contenedor{
        margin:auto;
    }
    .title{

        display:none;
    }
    
  }

  @media screen and (max-width:   1075px) {
    .header__superior{
        flex-wrap: wrap;
    }
    .logo{
       margin:auto;
    }
    .logo__imagen{
        width:13rem;
    }
    .contenedor{
        margin:auto;
    }
    .title{

        display:none;
    }
    
  }

  