<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMIEP</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <?php include_once('view/header/header.html'); ?>
    </header>
    <section class="contentList">
        <fieldset class="pagar">
            <legend><strong>Pagar</strong></legend>
            <div class="btnMos">
                <a href='?u=v&action=buy' class="back"><span><i class="fa-solid fa-arrow-rotate-left"></i></span>Volver
                    a productos</a>
            </div>
            <div class="pagarA">
                <?php require_once("model/payCartMdl.php")?>
            </div>
            <section class="sendToBuy">
                <form action="controller/buyCtrl.php" method="post">
                    <div class="cliente">
                        <ion-icon name="person-add-outline" size="large"></ion-icon>

                        <section class="clienteForm">
                            <input type="text" name="cliente" id="cliente" value="">
                        </section>
                    </div>
                    <div class="btnBuy">
                        <?php 
                        $d=mt_rand(1,2000); 
                        echo "<input type='hidden' name='id_v' id='id_v' value='" . $d. "'/>";
                        echo "<input type='hidden' name='box' id='box' value='1001'/>";
                        echo "<input type='hidden' name='user' id='user' value='" . $_SESSION['docUsu'] . "'/>";
                        require_once("model/buyMdl.php");  
                        ?>
                        <button type="submit" class="vender"><span class="iconito">
                                <ion-icon name="bag-check-outline" size="large"></ion-icon>
                            </span>Vender</button>
                    </div>
                </form>
            </section>
        </fieldset>
    </section>
    <footer><br><br><br><br><br>
        <?php include_once('view/footer/footer.html'); ?>
    </footer>
</body>
<script src="public/js/index.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>