/***
*
* ESTILOS categoria (beta para plantilla general de mostrar)
*
***/
section {
  padding: 2rem;
}
.contentList fieldset {
  padding: 1.5rem;
  border: 3px outset var(--colorSMIEP);
  border-radius: 1rem 3rem;
}
.contentList fieldset legend {
  border-radius: 10px 10px;
  font-family: "Montserrat-Bold";
  padding: 0.3rem;
  font-size: 24px;
}

.btnMos a{
  position: relative;
  left: 60%;
  text-decoration: none;
  font-family: 'Montserrat-Bold';
  color: var(--bgColor);
  padding: var(--paddingBtn);
  padding-left: 0;
  letter-spacing: .2rem;
  border-radius: var(--radiousBtn);
}
.btnMos .add {
  background-color: var(--submitBtn);
  margin-right: 2rem;
}
.btnMos .add span {
  background-color: var(--submitBtnHov);
  border-radius: 3px;
  padding: .7rem .5rem;
  margin-right: 2%;
}
.btnMos .back { 
  background-color: var(--backBtn);
}
.btnMos .back span {
  background-color: var(--backBtnHov);
  border-radius: 3px;
  padding: .7rem .4rem;
  margin-right: 2%;
}

.searchNav {
  margin-top: 2rem;
}

.contentTable {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.row {
  border: 1px dotted #000;
  padding: 2rem;
}