/***
*
* ESTILOS categoria
*
***/
/****---Estilos a contenedor general---***/
.contentTable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.row {
  border: 1px dotted #000;
  border-radius: var(--radiousBtn) 5px;
  margin: 10px;
  padding: 2rem;
  width: 7rem;
  -webkit-box-shadow: 2px 5px 10px 2px var(--shadowColorSoft);
  -moz-box-shadow: 2px 5px 10px 2px var(--shadowColorSoft);
  box-shadow: 2px 5px 10px 2px var(--shadowColorSoft);
}

/***Estilos para los datos***/
div .id,
div .colName {
  font-family: "Montserrat-Bold";
  margin-bottom: 10px;
}

/***Botón eliminar***/
div .btnOptDel {
  height: 1rem !important;
  width: 6rem !important;
}