* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #aabbc271;
  color: #5c676c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-form {
  display: flex;
  justify-content: space-around;
}

.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}
.message img{
  width: 60%;
}

.message h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #4e635a;
}

#btn {
  padding: 1rem;
  font-weight: 400;
  background-color: #fff;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 2rem;
  transition: all 0.3s ease-in;
  color: #000;
}

#btn:hover {
  background-color: #abdefa;
}

/*modificar*/
.formulario {
  width: 400px;
  height: 600px;
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem;
  background-color: rgb(51, 51, 51, 0.602);
  text-align: center;
  display: block;
}

.create-account {
  color: #fff;
  padding: 2.7rem 0;
  font-size: 1.7rem;
}

/*ESTILOS PARA LINK DE RECUPERACIÓN DE CONTRASEÑA*/
.passR {
  font-size: 14px;
  margin: 0;
  color: rgb(255, 253, 152);
}

.passR a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}

.passR a svg {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 40px) translateZ(0);
  fill: none;
  stroke: var(--stroke, #fff);
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

.passR a:hover {
  --spacing: 4px;
  --stroke: #339999bd;
  --stroke-delay: 0.1s;
  --offset: 180px;
}

/*ESTILOS PARA INPUT DE EMAIL, USUARIO Y CONTRASEÑA*/
.userBox {
  position: relative;
  font-family: "Alegreya Sans SC", sans-serif;
}
.userBox label {
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 41px;
  transform: translateY(-25%);
  text-transform: capitalize;
  pointer-events: none;
  font-size: 20px;
  transition: all 0.3s;
}

.userBox input {
  padding: 18px 15px;
  margin: 0.5rem;
  width: 300px;
  border: 3px solid #fff;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
}

.userBox input:focus + label,
.userBox input:not(:placeholder-shown) + label {
  color: #fff;
  border-radius: 5px;
  background-color: #5c676c;
  top: 0;
  font-size: 16px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5rem;
}

@media screen and (max-width: 1023px) {

  
  .container-form {
    flex-direction: column-reverse;
    align-items: center;
  }
  .welcome-back  .message{
    display: contents;
    justify-content: center;


  }
  .message img{
    width: 30%;
  }

.formulario {
    padding: 4rem;
    margin: 3rem;
    border-radius: 10px;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
    display: block;
  }

}

