@font-face {
  font-family: 'Montserrat';
  src: url(https://fonts.google.com/specimen/Montserrat);
}



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat'; 
  text-decoration: none; 
  
}
iframe {
  width: 100%;
  height: 100%;
}
/*Información OS y Browser*/

body {
  margin-left: 6rem;
}
article {
  height: 50rem;
}
article section {
  height: 100%;
}
body main article div.infCont{
  display: grid;
  place-items: end;
  font-size: 0.57rem;
  width: fit-content;
  font-family: 'Montserrat';
  background: #3399;
}
div.infCont{
  line-height: 20px;
}
.infCont{
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
div.infCont h2 span{
  color: rgb(252, 0, 0);
  letter-spacing: 0.5px;
}





/*ARTICULO*/

main {
  background: #f0f0f0;
  padding: 40px 20px;
}

article {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background: #fff;
}

article p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

/*ELEMENTOS RESPONSIVOS*/

.oscuro {
  background-color: #1f1f1f;
  color: #f1eded;
}
.oscuro .ingBot:visited {
  color: #fff;
}
.oscuro header {
  background-color: #1f1f1f;
  color: #f1eded;
}
.oscuro nav li ul {
  background-color: #1f1f1f;
  color: #f1eded;
}
.oscuro nav ul li ul li a {
  background-color: #1f1f1f;
  color: #f1eded;
}
.oscuro nav ul li ul li a:hover {
  background: #0074c7;
  color: #fff;
  transform: scale(1.2);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.oscuro main article {
  background-color: #1f1f1f;
}
.oscuro main {
  background-color: #181818;
}
.oscuro a.modi {
  border: 1px solid #1f1f1f;
  border-radius: 2rem;
  background-color: #f1eded;
  color: #1f1f1f;
  width: 3rem;
  text-align: center;
  padding: 1%;
  cursor: pointer;
}
.oscuro a.modi:hover {
  border: 1px solid #f1eded;
  background-color: #1f1f1f;
  color: #f1eded;
  cursor: pointer;
}
.oscuro a.modi:active {
  background-color: #808280;
}

@media screen and (max-width: 720px) {

  
  a.mod {
    border: 1px solid #f1eded;
    border-radius: 2rem;
    background-color: #1f1f1f;
    color: #f1eded;
    width: 3.5rem;
    text-align: center;
    padding: 1%;
    cursor: pointer;
  }
  .oscuro a.modi {
    border: 1px solid #1f1f1f;
    border-radius: 2rem;
    background-color: #f1eded;
    color: #1f1f1f;
    width: 3.5rem;
    text-align: center;
    padding: 1%;
    cursor: pointer;
  }
}
