/***
*
* ESTILOS categoria (beta para plantilla general de mostrar)
*
***/
/****---Estilos a contenedor general---***/
section {
  padding: .8rem;
}

/****---Estilos al contenedor del contenido---***/
.contentList fieldset {
  padding: 1.5rem;
  border: 3px outset var(--colorSMIEP);
  border-radius: 1rem 3rem;
}

/****---Estilos a título del contenedor del contenido---***/
.contentList fieldset legend {
  border-radius: 10px 10px;
  font-family: "Montserrat-Bold";
  padding: 0.3rem;
  font-size: 24px;
}

/****Estilos a contenido***/
/****---Estilos a títulos del contenido---***/
.listElements .titleList {
  font-family: "Montserrat-Bold";
  text-align: center;
  margin: auto auto 1.5rem auto;
}

@media screen and (max-width: 1030px) {
  .contentList fieldset {
    padding: 1.5rem 0;
  }
}