* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}
.header__superior {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
.logo img {
  width: 10rem;
  height: 10rem;
  margin: 1rem 0 0 2rem;
  max-width: max-content;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3rem;
  margin-top: -7%;
  margin-left: 58%;
  font-size: 311%;
  color: #4e635a;
}
.nameEmp2 {
  visibility: hidden;
}
.nameEmp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 950px;
  position: relative;
  padding: 1px;
  font-size: 160%;
  color: #4e635a;
}
table {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  border-collapse: collapse;
  text-align: left;
  width: 80%;
  font-family: "Montserrat";
  box-shadow: 1px 13px 18px 3px rgba(67, 89, 89, 1);
  border: 144px ghostwhiten ;
  border-radius: 18px 13px;
  padding: 4.5rem;
  height: max-content;
  border-radius: 16px 16px;
  background: color #f0f0f0;;
  font-family: "Montserrat-Bold";
  padding: 1.7rem;
  font-size: 20px;
}
footer {
  padding: 2em 0;
  text-align: center;
  bottom: 0;
  font-weight: 800;
  font-size: 1em;
}
th,
td {
  padding: 1%;
}
th.bot1 {
  text-align: right;
}
th.opc {
  text-align: justify;
}
tr:nth-child(even) {
  background-color: rgba(229, 229, 229, 0.877);
}
button {
  width: 15%;
  height: 45px;
  background: rgb(116, 206, 75);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#volver {
  margin-right: 1.2rem;
  width: 80px;
  height: 42px;
  background: #897212;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 720px) {
  th,
  td {
    padding: 1%;
    width: 0%;
  }
  .header__superior {
    padding: 10px;
  }
  .logo img {
    width: 150px;
    height: 100px;
  }
  .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.5rem;
    margin-top: 10px;
    display: flex;
    margin-left: 1%;
    font-size: 180%;
    color: #4e635a;
  }
  .nameEmp {
    visibility: hidden;
    left: -92px;
  }
  .nameEmp2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 70px;
    font-size: 90%;
    text-align: center;
    color: #4e635a;
    visibility: visible;
  }
  table {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border-collapse: collapse;
    text-align: left;
    width: 95%;
    top: 1%;
  }
  footer {
    padding: 2em 0;
    text-align: center;
    bottom: 0;
    font-weight: 800;
    font-size: 1em;
  }
  button {
    width: 20%;
    height: 45px;
    background: rgb(116, 206, 75);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
