* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor,.footer{
  margin: 30px;
}
.contenedor__principal{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.icon figure img{
width: 230px;
}


.title {
  margin: 20px 0 30px 0;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #4e635a;
}

.inf{
  font-size: 30px;
  font-weight: 600;
}


.ingBot {
  text-decoration: none;
  background-color: #0d9256;
  border-radius: 20px 5px 20px 5px;
  padding: 3% 12%;
  color: #fff;

}
.ingBot:hover {
  background-color: #00a8f7;
}
.ingBot:active {
  background-color: #808280;
}

.footer{
  position: absolute;
  bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 20px;
}

a.mod {
  border: 1px solid #f1eded;
  border-radius: 2rem;
  background-color: #1f1f1f;
  color: #f1eded;
  width: 8rem;
  text-align: center;
  padding: 1%;
  cursor: pointer;
}
a.mod:hover {
  border: 1px solid #1f1f1f;
  background-color: #f1eded;
  color: #1f1f1f;
  cursor: pointer;
}
a.mod:active {
  background-color: #808280;
}
.oscuro {
  background-color: #1f1f1f;
  color: #f1eded;
}
.oscuro .ingBot:visited {
  color: #fff;
}
.oscuro a:visited {
  color: rgb(255, 254, 176);
}
.oscuro a.modi {
  border: 1px solid #1f1f1f;
  border-radius: 2rem;
  background-color: #f1eded;
  color: #1f1f1f;
  width: 8rem;
  text-align: center;
  padding: 1%;
  cursor: pointer;
}
.oscuro a.modi:hover {
  border: 1px solid #f1eded;
  background-color: #1f1f1f;
  color: #f1eded;
  cursor: pointer;
}
.oscuro a.modi:active {
  background-color: #808280;
}

