@import url(../css/fonts.css);

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat-Bold";
}
html, body{
    height: 100%;
    width: 100%;
}
body {
    background-color: #aabbc271;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: #4e635a;
    margin: 3rem 0 0 0;
}

.inf {
    font-size: 50px;
    font-weight: 600;
}

.contenedor_principal .sobre {
    font-size: 20px;
    font-weight: 100;
}

.ingBot {
    margin: 7rem 0 0 0;
    text-decoration: none;
    background-color: #339999;
    border-radius: 20px 5px 20px 5px;
    padding: 3% 12%;
    color: #fff;
    font-size: xx-large;
}

.ingBot:hover {
    background-color: #607ec9;
    
}

.ingBot:active {
    background-color: #808280;
}

.footer {
    margin-top:5%;
    display: flex;
    justify-content: space-around;
    
    bottom: 0;
    /*     
    position: sticky;
    text-align: center; */
}

#footer_acerca{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.acercaDe, #footer_acerca{
    text-decoration: none;
    color: #0d0d0e;
    font-size: 20px;
}


@media screen and (max-width:414px){
    .footer{
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 2rem;
    }
    .inf{
        font-size: 30px;
    }
}

/*
*
* modo oscuro
*
*/
 .oscuro .contenedor_principal,
.oscuro #footer_acerca, .oscuro .acercaDe {
    color: #fff;
}
.oscuro .ingBot:visited {
    color: #fff;
}

.oscuro a:visited {
    color: rgb(255, 254, 176);
}





