@import url(../css/fonts.css);

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat-Bold";
}

body {
    background-color: #aabbc271;
}

main {
    margin-top: 20px;
    
}

footer {
    margin-bottom: 20px;
}

.contenedor_principal {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    color: #4e635a;
}

.inf {
    font-size: 50px;
    font-weight: 600;
}

.contenedor_principal .sobre {
    font-size: 20px;
    font-weight: 100;
}

.ingBot {
    text-decoration: none;
    background-color: #339999;
    border-radius: 20px 5px 20px 5px;
    padding: 3% 12%;
    color: #fff;
    font-size: xx-large;
}

.ingBot:hover {
    background-color: #607ec9;
    ;
}

.ingBot:active {
    background-color: #808280;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    text-decoration: none;
    color: black;
}

.acercaDe {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:490px){
    .footer{
        position: relative;
        margin-top: 20px;
    }
}

@media screen and (max-width:335px){
    .inf{
        font-size: 30px;
    }
}

/**
*
* modo oscuro
*
*/
.oscuro .contenedor_principal,
.oscuro footer, .oscuro .acercaDe {
    color: #fff;
}

.oscuro {
    background-color: #343c3bd4;
    color: #fff;
}

.oscuro .ingBot:visited {
    color: #fff;
}

.oscuro a:visited {
    color: rgb(255, 254, 176);
}

.oscuro a.modi {
    border: 1px solid #1f1f1f;
    border-radius: 2rem;
    background-color: #f1eded;
    color: #1f1f1f;
    width: 8rem;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.oscuro a.modi:hover {
    border: 1px solid #f1eded;
    background-color: #1f1f1f;
    color: #f1eded;
    cursor: pointer;
}

.oscuro a.modi:active {
    background-color: #808280;
}

