/***
*
* ESTILOS Tablas
*
***/
/****---Estilos a contenedor general---***/
table {
  width: 100%;
  padding: 0 10px 0 10px;
  border-collapse: separate;
  border-spacing: 0 0.9rem;
}
th {
  width: 5rem;
  padding: 2rem 0 20px 0;
  font-family: "Montserrat-BoldItalic";
}

/***Estilos para los datos***/
.contentTable {
  /* height: 60rem; */
}
.titleTable {
  text-align: center;
}
.row {
  text-align: center;
  border-radius: var(--radiousBtn) 5px;
  -webkit-box-shadow: 2px 5px 10px 2px var(--shadowColorSoft);
  -moz-box-shadow: 2px 5px 10px 2px var(--shadowColorSoft);
  box-shadow: 2px 5px 10px 2px var(--shadowColorSoft);
}

/***Estilos para los datos***/


.id {
  font-family: "Montserrat-BoldItalic";
  padding-left: 10px;
}
.img img{
  width: 10rem;
}


/***---Estilos para opciones---***/
td.btnOpt {
  padding: 2rem;
}


.invisible{
  display: none; 
}
@media screen and (max-width: 820px) {
 .listElements {
  padding: 0 2rem;
 }
  th {
    display: none;
  }
  .contentTable {
    height: 40px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .contentTable td{
    padding: 10px;
  }

  td.btnOpt {
    padding: 10px 0 10px 0;
  }
}
