* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/** seccion de titulo con botones agregar y volver**/


.title-btn{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 30px;
}

.agregar {
  margin-right: 1.2rem;
  width: 90px;
  height: 42px;
  background: #0d9df6;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
}
.volver {
  margin-right: 1.2rem;
  width: 90px;
  height: 42px;
  background: #897212;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
}

/**seccion del filtro**/

.filtro{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buscar1 {
  padding: 0.5rem 1.7rem;
  margin:  10px 0 10px;
  outline: none;
  font-size: 14px;
  border-radius: 15px;
  color: #444;
  border: 1px solid #000;
  background: #fff
    url("https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png") no-repeat
    9px left;
}
.invisible {
  display: none;
}

/** modo oscuro*/
a.mod {

  border: 1px solid #f1eded;
  border-radius: 2rem;
  background-color: #1f1f1f;
  color: #f1eded;
  width: 8rem;
  text-align: center;
  padding: 5%;
  margin:  10px 0 10px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.mod:hover {
  border: 1px solid #1f1f1f;
  background-color: #f1eded;
  color: #1f1f1f;
  cursor: pointer;
}
a.mod:active {
  background-color: #808280;
}
.oscuro {
  background-color: #1f1f1f;
  color: #f1eded;
}
.oscuro table {
  background-color: #1f1f1f;
}
.oscuro tr:nth-child(even) {
  background-color: rgba(63, 63, 63, 0.877);
}
.oscuro a:visited {
  color: rgb(255, 254, 176);
}
.oscuro a.modi {
  border: 1px solid #1f1f1f;
  border-radius: 2rem;
  background-color: #f1eded;
  color: #1f1f1f;
  width: 8rem;
  text-align: center;
  padding: 5%;
  cursor: pointer;
}
.oscuro a.modi:hover {
  border: 1px solid #f1eded;
  background-color: #1f1f1f;
  color: #f1eded;
  cursor: pointer;
}
.oscuro a.modi:active {
  background-color: #808280;
}
.oscuro header {
  background-color: #1f1f1f;
  color: #f1eded;
}

/**seccion de la tabla*/
.tabla{
  background-color: #fff;
  font-size: 18px;
  border-collapse: collapse;
  width: 96%;
  top: 1%;
  margin-left: 20px;
 
}
tr{
  height: 40px;
}

.editar{
  width: 90%;
  height: auto;
  background: rgb(116, 206, 75);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.eliminar{
  width: 90%;
  height: auto;
  background: rgb(206, 75, 75);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 710px) {

  .title-btn, .filtro{
    margin-top: 9%;
  }
  .btn_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .agregar, .volver{
    margin: 5px;
  }
  .filtro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .campos_filtro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tabla{
    margin: 0;
  }

thead{
  display: none; 
}
.usuario{
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  border-left: solid 4px rgba(4, 136, 52, 0.342);
  border-radius: 10px;
}
.idUsua, .nombUsua, .nickUsua,
.emailUsua, .rolUsua, .btn-usu{
  width: 90%;
  margin:10px;
}

}
