:root {
    --bgColor: #f0f0f0;
    --bgColorSoft: #cccccc;
    --bgColorDark: #000;
    --submitBtn: #2eb369;
    --submitBtnHov: #0d9256;
    --submitBtnHovs: #0b7f4b;
    --colorSMIEP: #339999;
    --BtnHov: #184b4b;
    --letterColW: #fff;
    --backBtn: #50505499;
    --backBtnHov: #838391;
    --backBtnHovs: #6f6f7d;
    --paddingBtn: 0.7rem 2rem;
    --radiousBtn: 10px;
    --btnDel: #ce1d1d;
    --btnDelHov: #8f2626;
    --shadowColor: #333333;
    --shadowColorSoft: #9b9494;
}