<div class="container">
    <div class="navigation">
        <div class="menu-toggle"></div>
            <ul class="list">
                <li class="list-item active" style="--color:#339999">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#ffa117">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="alert-outline"></ion-icon>
                        </span>
                        <span class="text">About</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#0fc70f">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="call-outline"></ion-icon>
                        </span>
                        <span class="text">Contact</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#f44336">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="grid-outline"></ion-icon>
                        </span>
                        <span class="text">Portafolio</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#b145e9">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="pencil-outline"></ion-icon>
                        </span>
                        <span class="text">Blog</span>
                    </a>
                </li>
            </ul>
    </div>
</div>