<div class="container">
    <div class="navigation">
        <div class="menu-toggle"></div>
            <ul class="list">
                <li class="list-item active" style="--color:#339999">
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                            <sub class="ACMD">Inicio</sub>
                        </span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#ffa117">
                    <a href="">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                            <sub>Personas</sub>
                        </span>
                        <span class="text">Personas</span>
                    </a>
                    <ul>
                        <li class="list-subItem">
                            <a href="../usuario/mostrarUsu.php">
                                <span class="icon">
                                    <ion-icon name="person-outline"></ion-icon>
                                    <sub>Usuarios</sub>
                                </span>
                                <span class="text">Usuarios</span>
                            </a>
                        </li>
                        <li class="list-subItem">
                            <a href="../cliente/mostrarCli.php">
                                <span class="icon">
                                    <ion-icon name="person-outline"></ion-icon>
                                    <sub>Clientes</sub>
                                </span>
                                <span class="text">Clientes</span>
                            </a>
                        </li>
                        <li class="list-subItem">
                            <a href="../proveedor/mostrarProv.php">
                                <span class="icon">
                                    <ion-icon name="person-outline"></ion-icon>
                                    <sub style="font-size: .45rem;">Proveedores</sub>
                                </span>
                                <span class="text">Proveedores</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list-item" style="--color:#0fc70f">
                    <a href="../producto/mostrarProd.php">
                        <span class="icon">
                            <ion-icon name="beer-outline"></ion-icon>
                            <sub>Productos</sub>
                        </span>
                        <span class="text">Productos</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#f44336">
                    <a href="../categoria/mostrarCat.php">
                        <span class="icon">
                            <ion-icon name="grid-outline"></ion-icon>
                            <sub>Categoría</sub>
                        </span>
                        <span class="text">Categoría</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#b145e9">
                    <a href="../tienda/mostrarTi.php">
                        <span class="icon">
                            <ion-icon name="storefront-outline"></ion-icon>
                            <sub class="ACMD">Tienda</sub>
                        </span>
                        <span class="text">Tienda</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#b145e9">
                    <a href="../../module/vender/?u=v&action=buy">
                        <span class="icon">
                            <ion-icon name="cash-outline"></ion-icon>
                            <sub class="ACMD">Vender</sub>
                        </span>
                        <span class="text">Vender</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#b145e9">
                    <a href="../reportes/mostrar.php">
                        <span class="icon">
                            <ion-icon name="document-text-outline"></ion-icon>
                            <sub>Reportes</sub>
                        </span>
                        <span class="text">Reportes</span>
                    </a>
                </li>
                <li class="list-item" style="--color:#b145e9">
                    <a href="../pedido/Form.php">
                        <span class="icon">
                            <ion-icon name="bag-add-outline"></ion-icon>
                            <sub class="ACMD">Pedido</sub>
                        </span>
                        <span class="text">Pedido</span>
                    </a>
                </li>
                <li class="list-item salir" style="--color:#ce1d1d">
                    <a href="javascript:msgsalir();">
                        <span class="icon">
                            <ion-icon name="exit-outline"></ion-icon>
                            <sub>Salir</sub>
                        </span>
                        <span class="text">Salir</span>
                    </a>
                </li>
                <!-- Dark Mode -->
                <li><a id="mod" class="mod" onclick="cambiarModo()"><span id="id-moon" class="btn-mode moon"><i
                    class="fas fa-sun"></i></span>/<span id="id-sun" class="btn-mode sun active"><i
                    class="fas fa-moon"></i></span></a></li>
            </ul>
    </div>
</div>