<a id="mod" class="mod" onclick="cambiarModo()">
  <span id="id-moon" class="btn-mode moon">
    <i class="fas fa-sun"></i>
  </span>
  /
  <span id="id-sun" class="btn-mode sun active">
    <i class="fas fa-moon"></i>
  </span>
</a>

<!-- link y accesos requeridos para su funcionamiento

  archivo css donde se encuentra los diseños del boton <link rel="stylesheet" href="../../public/css/plantillas/btnModOsc.css"> revisar direccion

    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"  para visualizar los iconos

        <script
      type="text/javascript"
      src="../../public/js/darkMode/darkMode.js"
    ></script>  script para su funcionamientp; revisar su direccion a la carpeta de darkmode

-->
