<div class="header_superior">

    <span class="logo">
        <?php if (isset($_GET['u'])) { ?>
            <img class="logo_imagen" src="img/favicon.png" alt="Logo SMIEP" title="Logo SMIEP">
            <?php }else{ ?>
        <img class="logo_imagen" src="../../img/favicon.png" alt="Logo SMIEP" title="Logo SMIEP">
        <?php } ?>
    </span>

    <span class="contenedor">
        <section class="titulito">
            <h1 class="title">S.M.I.E.P</h1>
            <h3 class="nameEmp">Software de Manejo de Inventarios para Empresas Pequeñas</h3>
        </section>
    </span>
</div>