
<body>

<div class="container__menu">
    <div class="menu">
        <input type="checkbox" id="check__menu">
        <label for="check__menu" id=" label__check">
            <i class="fas fa-bars icon__menu"></i>
        </label>
        <nav class="navBar">

            <ul class="navBar__list">
                <li><a href="#" id="selected"></a></li>
                <li><a href="#"><span class="icon-user"></span>Personas</a>
                    <ul>
                        <li><a href="../usuario/mostrar2.php"><span class="icon-user-tie"></span>Usuarios</a></li>
                        <li><a href='../cliente/mostrarCli.php'><span class="icon-user-tie"></span>Clientes</a></li>
                        <li><a href="../proveedor/mostrar.php"><span class="icon-user-tie"></span>Proveedores</a></li>
                    </ul>
                </li>

                <li><a href="../producto/mostrar.php"><span class="icon-truck"></span>Productos</a></li>
                <li><a href="../categoria/mostrar.php"><span class="icon-briefcase"></span>Categoria</a></li>
                <li><a href="../tienda/mostrar.php"><span class="icon-cart"></span>Tienda</a></li>

                <li><a href="../vender/index.php"><span><i class="fa-solid fa-sack-dollar"></i></span>vender</a></li>

                <li><a href="../reportes/mostrar.php"><span><i class="fa-solid fa-square-poll-horizontal"></i></span>Reportes</a></li>
                <li><a href="../about/about.php"><span class="icon-earth"></span>Acerca de</a></li>
                <li><a href="#"><span class="icon-mail2"></span>Contacto</a></li>
                <li class="salir"><a href="javascript:msgsalir();"><span class="icon-exit"></span> Salir</a></li>

                <li><a id="mod" class="mod" onclick="cambiarModo()"><span id="id-moon" class="btn-mode moon"><i
                                class="fas fa-sun"></i></span>/<span id="id-sun" class="btn-mode sun active"><i
                                class="fas fa-moon"></i></span></a></li>
            </ul>
        </nav>
    </div>

</div> 

</div>

</body>
