<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
        <span><img class="logo_imagenm" src="../../img/favicon.png" alt="Logo SMIEP" title="Logo SMIEP"></span>
    </label>
    <?php
    if(!isset($_POST['insert'])){
        ?>
    <a href="../vender/?u=pedido&action=buy" class="menu-item red">
        <ion-icon name="exit-outline"></ion-icon>
    </a>
    <a href="../vender/?u=pedido&action=add" class="menu-item purple">
        <ion-icon name="bag-add"></ion-icon>
    </a>
    <a href="../vender/?u=cli&action=add" class="menu-item orange">
        <ion-icon name="person-add"></ion-icon>
    </a>
    <a href="../vender/?u=r&action=s" class="menu-item lightblue">
        <ion-icon name="bar-chart"></ion-icon>
    </a>
    <a href="../vender/?u=v&action=buy" class="menu-item green">
        <ion-icon name="arrow-undo-sharp"></ion-icon>
    </a>
    <?php } ?>
</nav>