*{
    font-family: 'Roboto', sans-serif;
}
.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3rem;
    right: 36px;
    top: 75px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 0;
    margin-left: 45%;
    padding-bottom: 0;
    font-size: 220%;
    color: #4e635a;
}
.subtitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: 36px;
    top: 118px;
    position: absolute;
    margin-left: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    padding-bottom: 0;
    font-size: 120%;
    color: #4e635a;
}
header{
    text-align: center;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    text-shadow: 3px 2px 0 #ffffff81, 2px 2px 2px rgba(206,206,206,0);
}
.icon{
    padding-left: 2%;
    display: flex;
    align-items: start;
    justify-content: start;
    align-self: start;
}
.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background: #141414;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 92%;
    margin-top: 1%;
}
.agregar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background: #0d9df6;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 82%;
}
.eliminar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background: rgb(206, 75, 75);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30%;
}
.editar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background: rgb(116, 206, 75);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20%;
}
h3{
    font-size: 35px;
    text-align: right 10px;
}

table{
    width: 80%;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 28px;
    box-shadow: 5px 5px 5px gray;
}

td, th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
h4{
    font-size: 35px;
    padding: 0%;
    margin: 0%;
    font-weight: 650;
}
h5{
    font-size: 25px;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
}