*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #fefefe;
}
header{
    width: 100%;
}

header nav{
    
    background: #023859;
    z-index: 1000;
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
}
.menu_bar{
    display: none;
}
header nav ul{
  
    list-style: none;
}

header nav ul li{
    display: inline-block;
    position: relative;
}

header nav ul li:hover{
    background: #e6344a;
}

header nav ul li a{
    color: #FFF;
    padding: 20px;
    display: block;
    text-decoration: none;

}

header nav ul li span{
    margin-right: 10px;
}
header nav ul li:hover .children{
     display: block;
}
header nav ul li .children{
     display: none;
     background: #011826;
     position: absolute;
     width: 150%;
     z-index: 1000;
}

header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);

}

header nav ul li .children li a{
    display: block;
}
header nav ul li .children li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

header nav ul li .caret{
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}

.main{
    background: #fff;
    padding: 60px;

   /*  flex: 1 1 70%; */
   flex: 1;
}

.main article{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main article:nth-last-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}


@media screen and (max-width: 800px) {
    body{
        padding-top: 80px;
    }
    .menu_bar{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
         background: #023859;
    }

    .menu_bar .bt-menu{
        display: block;
        padding: 10px;
        color: #FFF;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span{
        float: right;
        font-size:40px;

    }

    header nav{
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin:0;
        overflow: scroll;
    }

    header nav ul li{
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

    header nav ul li a{
        display: block;
    }

    header nav ul li:hover .children{
        display: none;
    }

    header nav ul li .children{
        width: 100%;
        position: relative ;
    }

    header nav ul li .children li a{
        margin-left: 20px;
    }
    header nav ul li .caret{
        float: right;
    }
   
}








