.notification {
  z-index: 100;
  position: absolute;
  top: 0;
  margin: 5px;
  display: inline-block;
  max-width: 300px;
  padding: 20px 15px;
  border-radius: 4px;
  background-color: #141619;
  color: #f6f5f9;
  box-shadow: 0 1px 10px #0000001a;
  transform: translateY(30px);
  opacity: 1;
  visibility: visible;
  animation: fade 5s linear forwards;
}
.progress {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 0;
  height: 3px;
  background-image: linear-gradient(to right, #339999, #529bdb);
  border-radius: 4px;
  animation: progress 4s 1.25s linear forwards;
}
@keyframes fade {
  5% {
    opacity: 1;
    visibility: 1;
    transform: translateY(0px);
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}